.login2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 100vh;
}

.login2-title {
    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 100px;
    text-align: center;
}

.login2-button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.login2-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 300px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
}


/* 각 버튼의 배경 이미지 설정 */
#mentor {
    background-image: url('../../asset/mento_bg.png');
}

#mentee {
    background-image: url('../../asset/mentee_bg.png');
}

#parent {
    background-image: url('../../asset/parent_bg.png');
}

/* 오버레이 이미지를 오른쪽에 추가하는 스타일 */
#mentor::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-image: url('../../asset/mento_over.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#mentee::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-image: url('../../asset/mentee_over.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#parent::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-image: url('../../asset/parent_over.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.login2-button:hover {
    background-color: rgba(0, 0, 0, 0.3); /* 어두운 오버레이 효과 */
    filter: brightness(0.8); /* 약간 어둡게 조정 */
}