.login-container {
    display: flex;
    flex-direction: column; /* 요소를 세로로 배치 */
    justify-content: center; /* 세로 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
    height: 100vh;

.logo {
  
    background-image: url('../../asset/damento.png');
    width: 260px; /* 로고 너비 */
    height: 107px; /* 로고 높이 */
    background-repeat: no-repeat; /* 이미지 반복 방지 */
    background-position: center; /* 이미지 위치를 가운데로 */
    margin-bottom: 150px;
  
}


.button {
    background-color: white;
    width: 300px; 
    height: 60px;
    padding: 10px;
    margin: 10px 0; /* 버튼 간 간격 */
    display: flex; /* 버튼 내부 요소들을 flex로 배치 */
    justify-content: center; /* 내부 이미지와 텍스트를 가운데 정렬 */
    align-items: center; /* 내부 요소를 수직 가운데 정렬 */
    border: none;
}




}