.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    background-image: url('../../asset/Damento.png');
    width: 260px;
    height: 107px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 150px;
}

/* 버튼들을 세로로 정렬하기 위한 컨테이너 */
.login-button-group {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center;
    gap: 15px; /* 버튼 간의 간격 */
}

.login-button {
    width: 300px;
    height: 60px !important; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

/* 각 버튼의 배경 이미지 설정 */
#google {
    background-image: url('../../asset/google.png');
}

#kakao {
    background-image: url('../../asset/kakao.png');
}

#naver {
    background-image: url('../../asset/naver.png');
}
