.Login_Mento3-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 100vh;


.mento3-title {
    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 32px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
}

.mento3-subtitle {
    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin-bottom: 25px;
    text-align: center;
}

.certify-div {
    width: 100%;
    max-width: 300px; /* div의 최대 너비를 지정 */
    height: auto;
    margin-bottom: 20px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.image-container {
    width: 100%;
    height: 350px; /* 고정된 크기로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #f0f0f0; /* 이미지가 없을 때 배경색 */
    position: relative;
}


.mento3-button {
    display: flex;
    bottom: 10px;
    padding: 0px;
    left: 50%;
    width: 320px; 
    height: 60px; 
    background-size: contain;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-top:20px;
    margin-bottom: 45px;
 
}
#schola-button {
    background-image: url('../../asset/schola-button.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mento3-button:hover {
    background-color: rgba(0, 0, 0, 0.3); /* 어두운 오버레이 효과 */
    filter: brightness(0.8); /* 약간 어둡게 조정 */
}

}

.camera-button {
    padding: 10px 20px;
    background-color: #FFA726;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    margin-left : 20px;
}

.camera-preview {
    margin-top: 20px;
}

.video-feed {
    width: 100%;
    border-radius: 8px;
}

.capture-button {
    position: absolute;
    bottom: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.photo-preview {
    margin-top: 20px;
}

.placeholder {
    color: #aaa;
    font-size: 14px;
}


.photo-preview img,

.image-container {
    width: 100%;
    height: 200px; /* 고정된 크기로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #f0f0f0; /* 이미지가 없을 때 배경색 */
}

.captured-photo, .video-feed  {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 이미지가 container 크기에 맞춰 조정 */
    border-radius: 8px;
}