.chat{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 390px;
    height: 100vh;

    #tabs_divider{
      position: fixed;
      top: 14px;
     
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 14px;
        margin-left: 24px;
        height: 50px;

    }
  
    .Chat{
     height: calc(100vh - 190px);
     margin-top:53px ;
     margin-bottom:98px ;
    overflow-y: scroll;
  
    }
    .Chat::-webkit-scrollbar{
     display: none;
    }
    .tab-content{
     margin-top:39px ;
     overflow-y: scroll;
    }
    .tab-content::-webkit-scrollbar{
      display: none;
    }
   
   .tabactive{

       
        width: auto;
        height: 50px;

        font-family: 'NoonnuBasicGothicRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin-left: -7.4px;
        z-index: 2;

        color: #000000;


   }
   #tabCont{
    height: calc(100vh - 98px);
    display: flex;
    flex-direction: column;

   }

   .tabs{
    height: 100%;
    display: flex;
   }
  
   .tab{
        width: auto;
        height: 50px;

        font-family: 'NoonnuBasicGothicRegular';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        margin-left: -7.4px;


        color: #AEAEAE;
   }
   #divider{
    width: auto;
    height: 50px;

    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;

    color: #000000;
   }
   #chatCont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    box-sizing: border-box;

    width: 350px;
    height: 90px;

    background: #FFEFC2;
    border: 1px solid #D9D9D9;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-bottom:12px ;
    margin-left: 20px;
    margin-right: 20px;


   }
   #chatCont:hover{
    background-color: #ffce47 ;
   }
   
   #profile{
      
        width: 60px;
        height: 60px;
        background-image: url('../../asset/profile.png');
        display: flex;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-left: 12px;

   }
   #main_cont{
    width:200px ;
   }
   #ment{
 
        width:auto;
        height: 23px;
          margin-left: 16px;

        font-family: 'NoonnuBasicGothicRegular';
        font-style: normal;
        font-weight: 600;
        font-size: 17px;
        line-height: 23px;
        /* identical to box height */
        display: flex;
        align-items: flex-end;
        letter-spacing: -1px;

        color: #555555;


   }
   #name{
        
        width: auto;
        height: 30px;
        letter-spacing: -1px;

          margin-left: 14px;
        font-family: 'NoonnuBasicGothicRegular';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 30px;
        /* identical to box height */
        display: flex;
        align-items: flex-end;

        color: #000000;


   }
   #ect{

   }
   #time{
           
        width: auto;
        height: 20px;
          

        font-family: 'NoonnuBasicGothicRegular';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;
        display: flex;
        align-items: flex-end;

        color: #777777;


   }
   #num{
     display: flex;
     justify-content: center;
     align-items: center;
    width: 26px;
    height: 26px;
     margin-left: 29px;
    background: #F8A85E;
    border-radius: 50%;
    text-align: center;
    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    

    display: flex;


    color: #FFFFFF;


   }
   #navi-con{
    height: 98px;
   }
   #navi{
     width: 390px;
     height: 98px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     background-color: #D9D9D9;
     position: fixed;
     bottom: 0px;
     
   
     } 
  #home{
       margin-left: 32px;
       width: 40px;
       height: 55px;
       background-image: url('../../asset/home.png');
       background-repeat: no-repeat;
       background-size: contain;
       border: none;
       background-color: #D9D9D9;
     }
     #chat{
       width: 40px;
       height: 55px;
       background-image: url('../../asset/chat_select.png');
       background-repeat: no-repeat;
       background-size: contain;
       border: none;
       background-color: #D9D9D9;
 
     }
     #search{
       width: 51px;
       height: 55px;
       background-image: url('../../asset/search.png');
       background-repeat: no-repeat;
       background-size: contain;
       border: none;
       background-color: #D9D9D9;
     }
     #mypage{
       width: 49px;
       height: 55px;
       background-image: url('../../asset/mypage.png');
       background-repeat: no-repeat;
       background-size: contain;
       margin-right: 32px;
       border: none;
       background-color: #D9D9D9;
     }
    
}

 .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 27px;
      padding-top: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      outline: none;
      max-width: 375px;
      width: 300px;
      z-index: 1000; /* 모달이 다른 요소들 위에 표시되도록 */
      text-align: center; /* 텍스트 가운데 정렬 */
      background: #FFFFFF;
      border-radius: 10px;
      font-family: 'Pretendard';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -1px;
      color: #000000;
      border:3px solid #ffce47 ;
     

     
  }
  #modal_close{
    background-color: #FFFFFF;
    border: none;
    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-size: 30px;
    display: flex;
  
   
  }
  #modal_top{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  
  }
  #modal_cont{
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;

  }
  #modal_intro{

    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom:41px ;

    color: rgba(0, 0, 0, 0.7);


  }
  #modal_ect{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #modal_img{
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url(../../asset/profile.png);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  #modal_name{
   

    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
    display: flex;
    align-items: flex-end;

    color: #000000;


  }
  #modal_tag{
    
    font-family: '눈누 기초고딕 Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;

    color: #000000;


  }
  #goChat{
   


    width: 164px;
    height: 46px;
    left: 112px;
    top: 501px;
    

    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
   

    color: #000000;


    background: #FFAD60;
    border-radius: 5px;
    border: none;

  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999; /* 모달 오버레이가 다른 요소들 위에 표시되도록 */
}