.ChatRoom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 390px;
    height: 100vh;
    background-color: #ffefc2;
    #secondBox{
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        background: #F8A85E;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }
    #inputbox{
        display: flex;
        flex-direction: column;
        height: calc(100vh - 175px );
    }
    #backbtn{
        
      width: 30px;
      height: 30px;
     border: none;
     background-color: #F8A85E;
      font-family: NoonnuBasicGothicRegular;
      font-size: 29px;
      text-align: center;
 


    }
    #mentoring{
    
    box-sizing: border-box;

    
    width: 101px;
    height: 36px;

    background: #FFEFC2;
    border: 1px solid #000000;
    border-radius: 5px;
 

    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;


    color: #000000;
    position: absolute;
    left: calc(50% + 80px);



    }
    #chatbox{
        height: calc(100vh - 225px );
        width: 390px;
       background-color: #ffefc2; 
       display: flex;
       flex-direction: column;
       justify-content: flex-end;

    }
    .message_form{
       display: flex;
    }
    #messageinput{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        width: 390px;
        height: 49px;

        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 5px;

    }
    .textinput{
        border: none;
        background-color: #FFFFFF;
        outline: none;
    }
    input:focus{
        border: none;
    }
    #submitbtn{
         

        box-sizing: border-box;
        width: 46px;
        height: 36px;
        background: #F8A85E;
        border: 1px solid #000000;
        border-radius: 5px;
        margin-right: 7px;

    

   

    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #000000;



    }
    .message-left{
     
    box-sizing: border-box;

    width: 204px;
    height: auto;
    margin-bottom:13px;
    margin-left: 10px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    }
    #profile_img{
        
    width: 50px;
    height: 50px;
   
    background-position: center;
    background: url('../../asset/profile.png');
    background-repeat: no-repeat;
    background-size: contain;
    }
    #name{
    
    width: 64px;
    height: 32px;
   

    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
   

    color: #000000;


    }
    .message_message-left{
      margin:11px ;
      margin-left: 14px;
    }

  .message-right{
    box-sizing: border-box;

    width: 204px;
    height: auto;
    margin-bottom:13px;
    margin-left: 170px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .messages::-webkit-scrollbar{
    display: none;
  }
  .message_message-right{
    margin:11px ;
      margin-right: 14px;
  }
  
    #navi-con{
        height: 98px;
       }
       #navi{
         width: 390px;
         height: 98px;
         display: flex;
         flex-direction: row;
         justify-content: space-around;
         align-items: center;
         background-color: #D9D9D9;
         position: fixed;
         bottom: 0px;
         
       
         } 
      #home{
           margin-left: 32px;
           width: 40px;
           height: 55px;
           background-image: url('../../asset/home.png');
           background-repeat: no-repeat;
           background-size: contain;
           border: none;
           background-color: #D9D9D9;
         }
         #chat{
           width: 40px;
           height: 55px;
           background-image: url('../../asset/chat_select.png');
           background-repeat: no-repeat;
           background-size: contain;
           border: none;
           background-color: #D9D9D9;
     
         }
         #search{
           width: 51px;
           height: 55px;
           background-image: url('../../asset/search.png');
           background-repeat: no-repeat;
           background-size: contain;
           border: none;
           background-color: #D9D9D9;
         }
         #mypage{
           width: 49px;
           height: 55px;
           background-image: url('../../asset/mypage.png');
           background-repeat: no-repeat;
           background-size: contain;
           margin-right: 32px;
           border: none;
           background-color: #D9D9D9;
         }
        
} 
.popup{

    position: absolute;
    width: 362px;
    height: 91px;
    left: 15px;
    top: 83px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
  



         }
         #submit_popup{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         }
  #popup_close{
        /* Rectangle 60 */

    box-sizing: border-box;

    
    width: 45px;
    height: 30px;
  

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 3px;

    font-family: 'NoonnuBasicGothicRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-top: 5px;
    

  }