@font-face {
  font-family: 'NoonnuBasicGothicRegular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
  margin: 0px;
  
  display: flex;
}
#root{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0%;
  justify-content: center;
 
}
.App{
 
  display: flex;
  margin: 0px;
  
}

#navi-con{
  position: fixed;
  width: 390px;
  height: 53px;
  bottom: 0;
}
